@model IEnumerable<Discount>

<h2 class="text-center mt-2">Manage Discounts</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <a asp-action="Create" class="btn btn-primary mb-3">Add Discount</a>
            <table class="table table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Title</th>
                        <th>Product</th>
                        <th>Discount Percent</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Code</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var discount in Model)
                    {
                        <tr>
                            <td>@discount.Title</td>
                            <td>@discount.Product?.ProductName</td>
                            <td>@string.Format("{0}%", discount.DiscountPercent * 100)</td>
                            <td>@discount.StartTime.ToString("MM-dd-yyyy")</td>
                            <td>@discount.EndTime.ToString("MM-dd-yyyy")</td>
                            <td>@discount.Code</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@discount.DiscountId"
                                    class="btn btn-warning btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@discount.DiscountId"
                                    class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
